<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="flex-container">
        <div class="intro">
            <p id="Name">INDIC</p>
            <p id="Descrip">A programming language based on BASIC with vocubulary from Hindi language</p>
        </div>
        <div class="action">
            <form action="" method="post">
                <input type="submit" value="ide">
            </form>
        </div>
    </div>
</body>
</html>